input, textarea, select {
    background-image: none !important;
}

.invalid-feedback {
    text-align: start;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}