:root{
    --bs-navbar-toggler-focus-width: 0;
}

.active{
    font-weight: 600;
}

/* mobile */
.navbar-toggle:focus {
    border: none;
    box-shadow: 0 0 0 0 !important;
}

@media (max-width: 767.98px) { 
    .navbar-nav{
        width: 100%;
        height: calc(100vh - 60px);
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
    .btn-green{
        line-height: 1.5rem;
    }
}

/* lg up */

@media (min-width: 767.98px) { 
    .btn-green{
        min-width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}