:root{
    --blue-color: #010C89;
    --orange-color: #FF9601;
    --green-color: #00E67A;
}

/* UTILITY CLASSES */

/* Green buttons */
.btn-green{
    border-radius: 25px;
    line-height: 0.5rem;
    padding-inline: 50px;
    background-color: var(--green-color);
}

.bg-blue {
    background-color: rgba(2, 76, 155, 0.05);
}

.bg-orange {
    background-color: rgba(255, 149, 1, 0.05);
}

/* END UTILITY CLASSES */

body {
    font-family: "Montserrat", sans-serif;
    color: #2D2D2D;
}

a {
    color: #2D2D2D;
    text-decoration: none;
}

.a-hover:hover {
    text-decoration: underline;
}

p {
    margin: 0;
}

main {
    margin-top: 70px;
}