:root {
    --blue-color: #010C89;
    --orange-color: #FF9601;
    --green-color: #00E67A;
}


/* UTILITY CLASSES */

/* Green buttons */
.btn-green {
    border-radius: 25px;
    line-height: 0.5rem;
    padding-inline: 50px;
    padding-block: 15px;
    background-color: var(--green-color);
    border: 2px solid var(--green-color);
}

.btn-green:hover {
    background-color: white;
    border: 2px solid var(--green-color);
}

.btn-green-outline {
    border-radius: 25px;
    line-height: 0.5rem;
    padding-inline: 50px;
    padding-block: 17px;
    border: 2px solid var(--green-color);
}

.btn-green-outline:hover {
    background-color: var(--green-color);
}

.btn-arrow img {
    margin-left: 10px;
}

/* Arrow animation on hover */

.btn-arrow:hover img {
    -webkit-animation: bounceRight 2s infinite;
    animation: bounceRight 2s infinite;
}

@keyframes bounceRight {

    0%,
    20%,
    50%,
    80%,
    100% {
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    40% {
        -ms-transform: translateX(30px);
        transform: translateX(30px);
    }

    60% {
        -ms-transform: translateX(15px);
        transform: translateX(15px);
    }
}

.bg-blue {
    background-color: rgba(2, 76, 155, 0.05);
}

.bg-orange {
    background-color: rgba(255, 149, 1, 0.05);
}

.bg-green {
    background-color: var(--green-color);
}

/* Services sections */

.m-check {
    margin-top: 0.1rem;
}

/* lg up */

@media (min-width: 767.98px) { 
    .services-img-left {
        padding-right: 20%;
    }

    .services-img-right {
        padding-left: 20%;
    }
}

/* END UTILITY CLASSES */

body {
    font-family: "Montserrat", sans-serif;
    color: #2D2D2D;
}

a {
    color: #2D2D2D;
    text-decoration: none;
}

.a-hover:hover {
    text-decoration: underline;
}

h1 {
    font-weight: 800;
    font-size: 35px;
    line-height: 3rem;
}

p {
    margin: 0;
    line-height: 2rem;
}

main {
    margin-top: 100px;
}

svg {
    min-width: 32px;
    min-height: 32px;
}
